<script id="users">
  <div class="users-page-container">
    <h3>All users </h3>
    <div class="users-container">
        {{#each users}}
              {{/each}}
    </div>
  </div>
</script>

var source = $('users');

export default source;

