<script id="user">
  <div class="user">
    <span class="username">{{username}}</span>
    <span class="post-count">{{postCount}}</span>
    <span class="like-count">{{likeCount}}</span>
  </div>
</script>

var source = $('#user').html;
export default source;
